<script>

    // Ce composent est un exemple fonctionnel qui permettrait de prolonger le dataManager dans les deux sens si un jour le besoin s'en fait ressentir

    // Dans ce composant

    let { data, onload } = $props();
    let data2 = $state(data);
    $effect(() => {
        data2 = data;
        alert(JSON.stringify(data2));
        onload(data2);
    });


    // Dans le parent

    let foo = $state(1);
    let bar = $state(1);

    $effect(() => {
        alert(foo);
        alert(bar);
    });
</script>

<button
    onclick={() => {
        data2.foo = data2.bar + 1;
        alert(JSON.stringify(data2));
    }}>AA</button
>
<button
    onclick={() => {
        data2.foo = data2.bar + 1;
    }}>AB</button
>

<!-- Dans le parent -->

<BindTest data={{foo,bar}} onload={(data)=>{
    foo = data.foo
    foo = data.foo
}}/>

<button onclick={()=>{bar=bar+1;}}>A</button>
<button onclick={()=>{bar=bar+1;}}>B</button>
