<script>
    let { imgUrl } = $props();
    let type = $state("svg");
    let afficherOptions = $state(false);
</script>

{#if imgUrl !== ""}
    <button
        class="uk-button uk-button-default bouton-flottant"
        onclick={() => {
            afficherOptions = !afficherOptions;
        }}>Options</button
    >
    {#if !afficherOptions}
        <p>
            <img src={"https://kroki.io/tikz/" + type + "/" + imgUrl} alt="" />
        </p>
        <div class="uk-alert">
            <p>
                <b>Astuce :</b> pour enregistrer l'image, faites un clic droit dessus
                puis sélectionnez "Enregistrer l'image sous". Vous pouvez également
                copier l'image pour la coller dans votre logiciel de traitement de
                texte.
            </p>
        </div>
    {:else}
        <p>
            <b>Format de sortie :</b>
            <select bind:value={type} class="uk-select">
                <option value="svg">svg</option>
                <option value="png">png</option>
            </select>
        </p>
        <div class="uk-alert uk-alert-warning">
            <p>
                <b>Remarque :</b> Ces paramètres ne sont pas sauvegardés dans l'adresse Url de la page.
            </p>
        </div>
    {/if}
{:else}
    <p></p>
{/if}

<style>
    .bouton-flottant {
        position: absolute;
        right: 30px;
        top: 30px;
    }
    @media (min-width: 1200px) {
        .bouton-flottant {
            right: 40px;
            top: 40px;
        }
    }
</style>
