<script>
    import { onMount } from "svelte";
    let { value = $bindable(), onchange, width = null, minWidth = null } = $props();

    let mf;

    onMount(() => {
        mf.mathVirtualKeyboardPolicy = "manual";
        mf.addEventListener("focusin", () => mathVirtualKeyboard.show());
        mf.addEventListener("focusout", () => mathVirtualKeyboard.hide());
        mf.addEventListener("input", () => {
            value = mf.value;
        });
        mf.addEventListener("change", () => {
            onchange && onchange();
        });
    });
</script>

<math-field
    class="uk-input"
    style:width={width ? (typeof width === "number" ? width + "px": width) : null}
    style:min-width={minWidth ? (typeof minWidth === "number" ? minWidth + "px": minWidth) : null}
    bind:this={mf}>{value}</math-field
>

<style>
    math-field::part(menu-toggle),
    math-field::part(virtual-keyboard-toggle) {
        display: none;
    }
    math-field.uk-input {
        /* width: auto; min-width: 80px; 
        width: 80px; */
        height: auto;
    }
</style>
