<script>
    import TexLive from "./TexLive.svelte";
    import Kroki from "./Kroki.svelte";
    import { getKrokiUrl } from "$lib/utils.js";

    let { code=false, LaTeX, packages = [], type = "kroki", options={} } = $props();

    let imgUrl = $state("");

    export function generer_image() {
        // setTimeout obligatoire sinon imgUrl se met à jour avant d'avoir reçu les nouvelles données
        setTimeout(() => {
            imgUrl = getKrokiUrl(LaTeX);
        }, 0);
    };
</script>

<div class="uk-flex uk-flex-wrap-reverse">
    <div
        class="uk-card uk-card-body uk-card-default uk-flex-1"
        style="width:50%;min-width: 400px;"
    >
        <h3 class="uk-card-title">Code LaTeX</h3>
        <pre id="code" style="width:100%;height:400px;">{code !== false ? code : LaTeX}</pre>
        {#if packages.length}
            <div class="uk-alert">
                <p>
                    <b>Remarque :</b> Ce code nécessite {packages.length===1?'le package':'les packages'} {@html packages
                        .map((x) => "<code>" + x + "</code>")
                        .join(", ")}.
                </p>
            </div>
        {/if}
    </div>

    <div
        class="uk-card uk-card-body uk-card-default uk-flex-1"
        style="width:50%;min-width: 400px;"
    >
        <h3 class="uk-card-title">Résultat {type}</h3>
        {#if type === "kroki"}
            <Kroki {imgUrl} />
        {/if}
        {#if type === "texlive"}
            <p>
                <TexLive {LaTeX} {options} />
            </p>
        {/if}
        <div class="uk-alert">
            <p>
                <b>Astuce :</b> à chaque modification, l'url de la page change.
                Vous pouvez la partager ou l'enregistrer dans vos favoris pour
                pouvoir modifier votre travail plus tard. Si vous souhaitez
                redémarrer à partir de zéro, cliquez
                <a
                    onclick={() => {
                        if (
                            confirm(
                                "Êtes-vous sûr ? Vous perdrez le tableau actuel.",
                            )
                        ) {
                            location.hash = "";
                            location.reload();
                        }
                    }}>ici</a
                >.
            </p>
        </div>
    </div>
</div>
