<script>
    import { onMount } from "svelte";
    let { LaTeX, options } = $props();

    let form, formButton;
    onMount(() => {
        // form.submit();
    });
</script>

<button
    bind:this={formButton}
    class="uk-button uk-button-default bouton-flottant"
    onclick={() => {
        formButton.setAttribute("disabled", "disabled");
        form.submit();
    }}>Générer le fichier pdf</button
>

<iframe
    title="texlive"
    name="texlive"
    style="width:100%;height:420px; margin-bottom: 2px;"
    onload={() => {
        if (formButton) formButton.removeAttribute("disabled");
    }}
></iframe>

<form
    action="https://texlive.net/cgi-bin/latexcgi"
    method="POST"
    enctype="multipart/form-data"
    target="texlive"
    style="display:none;"
    bind:this={form}
>
    <input type="hidden" name="filecontents[]" value={LaTeX} />
    <input type="hidden" name="filename[]" value="document.tex" />
    <input type="hidden" name="engine" value="{options?.engine ?? 'pdflatex'}" />
    <input type="hidden" name="return" value="pdf" />
    <!-- pdfjs -->
</form>

<style>
    .bouton-flottant {
        position: absolute;
        right: 30px;
        top: 30px;
    }
    @media (min-width: 1200px) {
        .bouton-flottant {
            right: 40px;
            top: 40px;
        }
    }
</style>
