<script>
import Beta from '$lib/Beta.svelte';
import { page } from '$app/stores';
let baseUrl = $page.url.hostname === 'localhost' ? $page.url.origin : 'https://degrangem.forge.apps.education.fr/LatexMathsGuide';
</script>
<Beta />
<slot></slot>
<div class="uk-flex uk-flex-between uk-margin">
    <div class="uk-text-italic uk-margin-left">
        <a
            href="{baseUrl}/"
            >Retour à la liste des outils</a
        >
         - Un outil réalisé par Mathieu Degrange -
        <a
            href="{baseUrl}/Mentions-Legales/"
            >Mentions légales</a
        >
    </div>
    <div class="uk-text-italic uk-margin-right">
         <a
            href="https://forge.apps.education.fr/DegrangeM/LatexMathsGuide"
            >Code source</a
        >
        disponible sur la forge -
        <a
            href="https://forge.apps.education.fr/DegrangeM/LatexMathsGuide/-/wikis/"
            >Documentation</a
        >
    </div>
</div>
