<script>
    // import { version } from '$app/environment';
</script>
<div
    class="uk-card uk-card-body uk-card-default uk-text-center"
    style="width:100%;"
>
<div class="uk-alert">
    <dl class="uk-description-list">
        <dt>Vous utilisez LaTeX ?</dt>
        <dd>Ces outils vous permettront de générer rapidement du code à copier/coller dans votre document LaTeX.</dd>
        <dt>Vous n'utilisez pas LaTeX ?</dt>
        <dd>Ces outils vous permettront de générer des images à copier/coller dans votre document.</dd>
    </dl>
</div>
    <div class="uk-flex uk-flex-column">
        <div class="uk-margin-small">
            Voici la liste des outils disponibles :
        </div>
        <div class="uk-margin-small">
            <a href="./Formule" class="uk-button uk-button-default">
                Formule mathématique
            </a>
        </div>
        <div class="uk-margin-small">
            <a href="./Tableau" class="uk-button uk-button-default">
                Tableau de signes et de variations
            </a>
        </div>
        <div class="uk-margin-small">
            <a
                href="./Arbre-Probabilité/Simple"
                class="uk-button uk-button-default"
            >
                Arbre de probabilité (simple)
            </a>
        </div>
        <div class="uk-margin-small">
            <a
                href="./Arbre-Probabilité/Avancé"
                class="uk-button uk-button-default"
            >
                Arbre de probabilité (quelconque)
            </a>
        </div>
        <div class="uk-margin-small">
            <a
                href="./Statistiques"
                class="uk-button uk-button-default"
            >
                Statistiques
            </a>
        </div>
        <div class="uk-margin-small">
            <a href="./Page-de-garde-Bac" class="uk-button uk-button-default">
                Page de garde Baccalauréat
            </a>
        </div>
        <hr class="uk-divider-icon" />
        <div class="uk-margin-small">
                <a href="https://forge.apps.education.fr/DegrangeM/LatexMathsGuide/-/wikis/" class="uk-button uk-button-default">
                    Documentation
                </a>
        </div>
    </div>
</div>
