<script>
    // import { browser } from "$app/environment";
    import { onMount, untrack } from "svelte";
    import MathField from "$lib/MathField.svelte";
    import Sortie from "$lib/Sortie.svelte";
    import DataManager from "$lib/DataManager.svelte";
    import { page } from "$app/stores";


    // De manière générale, il y a probablement un moyen de faire mieux mais ça fonctionne ...

    /*
        X(position,total)

        0   A(0,2)  B(0,1)
        1           /B(1,1)
        2   B(2,2)  B(2,1)
        3           /B(3,1)
    */
    let arbre = $state([
        {
            nom: "A",
            proba: 0.5,
            enfants: [
                {
                    nom: "B",
                    proba: 0.3,
                    enfants: [],
                },
                {
                    nom: "\\overline{B}",
                    proba: 0.7,
                    enfants: [],
                },
            ],
        },
        {
            nom: "\\overline{A}",
            proba: 0.5,
            enfants: [
                {
                    nom: "B",
                    proba: 0.2,
                    enfants: [],
                },
                {
                    nom: "\\overline{B}",
                    proba: 0.8,
                    enfants: [],
                },
            ],
        },
    ]);

    let arbre2D = $state([]);
    let LaTeX = $state("");
    let sortie;

    let scannerEnfant = (data, parent, depth, position, tempArbre2D) => {
        data.forEach((element, i) => {
            element.position = position.value;
            element.depth = depth;
            if (tempArbre2D[element.position] === undefined) {
                tempArbre2D[element.position] = [];
            }
            tempArbre2D[element.position][depth] = element;
            if (element.enfants && element.enfants.length) {
                scannerEnfant(
                    element.enfants,
                    element,
                    depth + 1,
                    position,
                    tempArbre2D,
                );
            } else {
                position.value++;
                if (position.value > position.max) {
                    position.max = position.value;
                }
            }
            if (parent) {
                parent.dernierePosition = position.value;
            }
        });
    };

    let genererLaTeXEnfant = (
        noeud,
        parent = null,
        noeudParentPosition = null,
    ) => {
        let nomNoeud = "P_" + noeud.depth + "_" + noeud.position;
        let noeudPosition =
            (noeud.position + (-1 + noeud.dernierePosition || noeud.position)) /
            2;
        let latex =
            "\\node (" +
            nomNoeud +
            ") at (" +
            2 * noeud.depth +
            ",-" +
            noeudPosition +
            ") {$" +
            (noeud.nom || '\\phantom{A}') +
            "$};\n";
        if (parent) {
            latex +=
                "\\draw (P_" +
                parent.depth +
                "_" +
                parent.position +
                ") -- (" +
                nomNoeud +
                ") node[midway, " +
                (noeudPosition <= noeudParentPosition ? "above" : "below") +
                ",sloped] {$" +
                noeud.proba +
                "$};\n";
        }
        if (noeud.enfants && noeud.enfants.length) {
            // latex += "[";
            noeud.enfants.forEach((element, i) => {
                // latex += element.proba + " " + element.nom;
                // if (element.enfants && element.enfants.length) {
                latex += genererLaTeXEnfant(element, noeud, noeudPosition);
                //}
                //if (i < noeud.enfants.length - 1) {
                //    latex += "|";
                //}
            });
            //latex += "]";
        }
        return latex;
    };

    let refresh = () => {
        let tempArbre2D = [];
        let position = { value: 0, max: 0 };
        scannerEnfant(arbre, null, 0, position, tempArbre2D);
        arbre2D = tempArbre2D;
        LaTeX = untrack(() => {
            let code = "\\documentclass{standalone}\n";
            // code += '\\usepackage{amsmath}\n';
            code += "\\usepackage{tikz}\n";
            code += "\\begin{document}\n";
            code += "\\begin{tikzpicture}\n";
            code += genererLaTeXEnfant({
                nom: "",
                enfants: arbre,
                depth: -1,
                position: 0,
                dernierePosition: position.max,
            });
            code += "\\end{tikzpicture}\n";
            code += "\\end{document}\n";
            return code;
        });
        sortie.generer_image();
    };
    $effect(refresh);
</script>

<!--<div class="uk-card uk-card-body uk-card-default uk-text-center" style="width:100%;">-->
<div class="uk-padding">
    <div class="uk-card uk-card-default uk-card-body">
        <h3 class="uk-card-title">Générateur d'arbre de probabilité</h3>

        <table class="uk-table uk-text-center uk-table-middle">
            <tbody>
                {#each arbre2D as ligne, i}
                    <tr>
                        {#if i === 0}
                            <td rowspan="0" style="width: 50px;">
                                <button
                                    class="uk-button uk-button-default uk-button-small"
                                    onclick={() => {
                                        arbre.push({
                                            nom: "A",
                                            proba: "",
                                            enfants: [],
                                        });
                                    }}>+</button
                                >
                            </td>
                            <!-- 0 pour aller jusqu'à la fin -->
                        {/if}
                        {#each ligne as element, j}
                            {#if element}
                                <td
                                    rowspan={typeof element?.dernierePosition === 'undefined' ? '1' : element?.dernierePosition -
                                        element?.position}
                                    style="border-left:10px solid hsl({element.position *
                                        25}deg 100% 50%);border-right:10px solid hsl({element.position *
                                        25}deg 100% 50%);"
                                >
                                    <button
                                        class="uk-button uk-button-default uk-button-small"
                                        disabled={j === 0&&arbre.length===1}
                                        onclick={() => {
                                            if(j>0) {
                                                // On a besoin de trouver le parent.
                                                // On va se décaller d'un cran à gauche et remonter jusqu'à trouver un parent
                                                let parent;
                                                let k;
                                                for (
                                                    k = i;
                                                    k > 0 &&
                                                    arbre2D[k][j - 1] === undefined;
                                                    k--
                                                );
                                                parent = arbre2D[k][j - 1];
                                                console.log(parent);
                                                console.log(element);
                                                console.log(parent.enfants.indexOf(element));
                                                // On retire l'élément
                                                parent.enfants.splice(parent.enfants.indexOf(element), 1);
                                            } else {
                                                // On retire l'élément
                                                arbre.splice(arbre.indexOf(element), 1);
                                            }
                                        }}>-</button
                                    >
                                    <MathField
                                        onchange={refresh}
                                        bind:value={arbre2D[i][j].proba}
                                        width={80}
                                    />
                                    -
                                    <MathField
                                        onchange={refresh}
                                        bind:value={arbre2D[i][j].nom}
                                        width={80}
                                    />
                                    <button
                                        class="uk-button uk-button-default uk-button-small"
                                        onclick={() => {
                                            element.enfants.push({
                                                nom: "A",
                                                proba: "",
                                                enfants: [],
                                            });
                                        }}>+</button
                                    >
                                </td>
                            {/if}
                        {/each}
                    </tr>
                {/each}
            </tbody>
        </table>
    </div>
    <style>
        td {
            border: 1px solid black;
        }
    </style>

    <!--</div>-->

    <Sortie {LaTeX} packages={["tikz"]} type={"kroki"} bind:this={sortie} />

    <DataManager
        data={{ arbre }}
        onload={(data) => {
            arbre = data.arbre;
            sortie.generer_image();
        }}
    />
</div>
