<script>
    // import { browser } from "$app/environment";
    import { onMount } from "svelte";
    import MathField from "$lib/MathField.svelte";
    import Sortie from "$lib/Sortie.svelte";
    import DataManager from "$lib/DataManager.svelte";

    let formule = $state("");

    let imgUrl = $state("");

    let sortie = {};

    let LaTeX = $derived.by(()=>{
        return '\\documentclass{standalone}\n' +
        '\\usepackage{amsmath}\n' +
        '\\begin{document}\n' +
        '\\large\n' +
        '$\\displaystyle' +
        formule +
        '$\n' +
        '\\end{document}';
    });
</script>
<div class="uk-card uk-card-body uk-card-default uk-text-center" style="width:100%;">
    <MathField onchange={sortie.generer_image} bind:value={formule} width={"auto"} minWidth={100} />
</div>

<Sortie {LaTeX} code={formule} bind:this={sortie} />

<DataManager data={{ formule }} onload={(data)=>{
    formule = data.formule;
    sortie.generer_image();
}} />