<script>
    // import { browser } from "$app/environment";
    import { onMount } from "svelte";
    import MathField from "$lib/MathField.svelte";
    import Sortie from "$lib/Sortie.svelte";
    import DataManager from "$lib/DataManager.svelte";
    import { getKrokiUrl } from "$lib/utils.js";
    import TexLive from "$lib/TexLive.svelte";

    let type = $state("2x2PL");
   
    let arbre = $state(
        [
            {
                nom: "A",
                proba: "0.5",
            },
            {
                nom: "B",
                proba: "0.3",
            },
            {
                nom: "\\overline{B}",
                proba: "0.7",
            },
            {
                nom: "\\overline{A}",
                proba: "0.5",
            },
            {
                nom: "C",
                proba: "0.2",
            },
            {
                nom: "\\overline{C}",
                proba: "0.8",
            },
            // Pour éviter la perte de données accidentelle,
            // l'arbre a toujours 12 données même si elles
            // ne sont pas toutes utilisées
            ...Array(6).fill({
                nom: "",
                proba: "",
            }),
        ]
    );
    let A = $derived(
        {
            "2x2PC": 2,
            "2x2PL": 2,
            "2x3PL": 2,
            "3x2PL": 3,
            "3x3PL": 3,
            autre: 0,
        }[type],
    );
    let B = $derived(
        {
            "2x2PC": 2,
            "2x2PL": 2,
            "2x3PL": 3,
            "3x2PL": 2,
            "3x3PL": 3,
            autre: 0,
        }[type],
    );
    let code = $derived.by(() => {
        if(type === "autre") {
            return "";
        }
        if(type === "2x2PC") {
            // ProfCollege
            // A/0.1,B/0.2
            const codeArbre = arbre.slice(0,A+A*B).map((x) => "$"+x.nom + "$/$" + x.proba+"$").join(", ");
            return `\\Proba[Arbre]{${codeArbre}}`;
        } else {
            // ProfLycee
            // A/0.1/,B/0.2/
            const codeArbre = arbre.slice(0,A+A*B).map((x) => "$"+x.nom + "$/$" + x.proba+"$/").join(", ");
            return `\\begin{EnvArbreProbasTikz}[Type=${type.slice(0, -2)}, PositionProbas=auto, InclineProbas=false]\n{${codeArbre}}\n\\end{EnvArbreProbasTikz}`;
        }
    });
    let LaTeX = $derived.by(() => {
        return "\\documentclass{standalone}\n" +
            "\\usepackage{"+(type==='2x2PC'?'ProfCollege':'ProfLycee')+"}\n"+
            "\\begin{document}\n"+
            code+"\n"+
            "\\end{document}";
    });
    let options = $derived(type==='2x2PC'?{engine: "lualatex"}:{});
</script>

<!--<div class="uk-card uk-card-body uk-card-default uk-text-center" style="width:100%;">-->
<div class="uk-padding">
    <div class="uk-card uk-card-default uk-card-body">
        <h3 class="uk-card-title">
            Générateur d'arbre de probabilité (simple)
        </h3>
        <h4>Type d'arbre</h4>
        <div class="uk-margin uk-grid-small uk-child-width-auto uk-grid">
            <label>
                <input
                    class="uk-radio"
                    type="radio"
                    name="type"
                    bind:group={type}
                    value="2x2PL"
                /> 2x2 ProfLycee
            </label>
            <label>
                <input
                    class="uk-radio"
                    type="radio"
                    name="type"
                    bind:group={type}
                    value="2x3PL"
                /> 2x3 ProfLycee
            </label>
            <label>
                <input
                    class="uk-radio"
                    type="radio"
                    name="type"
                    bind:group={type}
                    value="3x2PL"
                /> 3x2 ProfLycee
            </label>
            <label>
                <input
                    class="uk-radio"
                    type="radio"
                    name="type"
                    bind:group={type}
                    value="3x3PL"
                /> 3x3 ProfLycee
            </label>
            <label>
                <input
                    class="uk-radio"
                    type="radio"
                    name="type"
                    bind:group={type}
                    value="2x2PC"
                /> 2x2 ProfCollege
            </label>
            <label>
                <input
                    class="uk-radio"
                    type="radio"
                    name="type"
                    bind:group={type}
                    value="autre"
                /> Autre
            </label>
        </div>
        {#if type === "2x2PC"}
        <div class="uk-alert uk-alert-danger">
            <p>
                Attention, la génération d'abre de probabilité avec ProfCollege nécessite une compilation en <code>shell-escape</code> ou avec <code>lualatex</code> !
            </p>
        </div>
        {/if}
        <h4>Contenu de l'arbre</h4>
        <div>
            {#snippet element(index)}
                <MathField
                    bind:value={arbre[index].proba}
                    width={80}
                />
                -
                <MathField
                    bind:value={arbre[index].nom}
                    width={80}
                />
            {/snippet}
            {#if type === "autre"}
                Pour d'autres types d'arbres, veuillez utiliser l'outil "Arbre de probabilité (quelconque)".
            {:else}
                <table class="uk-table uk-text-center uk-table-middle">
                    <tbody>
                        {#each { length: A } as _, a}
                            {#each { length: B } as _, b}
                                <tr>
                                    {#if b === 0}
                                        <td rowspan={B}>
                                            {@render element(a * B + b + a)}
                                        </td>
                                    {/if}
                                    <td>
                                        {@render element(a * B + b + a + 1)}
                                    </td>
                                </tr>
                            {/each}
                        {/each}
                    </tbody>
                </table>
            {/if}
        </div>
    </div>
    <!--</div>-->

    <style>
        td {
            border: 1px solid black;
        }
    </style>

    <Sortie {LaTeX} {code} packages={[type==="2x2PC"?"ProfCollege":"ProfLycee"]} type={"texlive"} {options} />

    <DataManager data={{
        type,
        arbre
    }} onload={(data) => {
        type = data.type;
        arbre = data.arbre;
    }} />
</div>
