<div class="uk-card uk-card-body uk-card-default uk-margin-top uk-margin-left uk-margin-right">
    <h3 class="uk-card-title">Mentions légales</h3>
    <h5>Politique de cookies et les données personnelles</h5>
    <ul>
        <li>
            Ce site n'utilise aucune base de données, ne stocke et ne traite pas
            de données personnelles.
        </li>
        <li>Ce site n'utilise pas de cookies.</li>
        <li>
            Ce site enregistre dans l'adresse Url le contenu configuré dans la
            page. Ce contenu est enregistrée dans la partie "hash" de l'adresse
            Url qui n'est pas envoyée au serveur lors de la navigation.
        </li>
        <li>
            Ce site fait appel au service <a href="https://kroki.io/"
                >kroki.io</a
            > pour générer les images LaTeX et au service de <a href="https://texlive.net/">TexLive.net</a> pour générer les documents LaTeX.
        </li>
    </ul>
    <h5>Licence</h5>
    <ul>
        <li>
            Le <a
                href="https://forge.apps.education.fr/DegrangeM/LatexMathsGuide/"
                >code source</a
            > est disponible sur la Forge des communs numériques éducatifs.
        </li>
    </ul>
</div>
