math-field.svelte-1ms1txq::part(menu-toggle),math-field.svelte-1ms1txq::part(virtual-keyboard-toggle){display:none}math-field.uk-input.svelte-1ms1txq{height:auto}.bouton-flottant.svelte-syx6k7{position:absolute;right:30px;top:30px}@media (min-width: 1200px){.bouton-flottant.svelte-syx6k7{right:40px;top:40px}}
