<script>
    // import { browser } from "$app/environment";
    import MathField from "$lib/MathField.svelte";
    import Sortie from "$lib/Sortie.svelte";
    import DataManager from "$lib/DataManager.svelte";
    import { getKrokiUrl } from "$lib/utils.js";

    let X = $state(["-\\infty", "+\\infty"]);
    let ROWS = $state([]);

    let sortie = {};

    let LaTeX = $state("");
    let code = $state("");

    const signes = {
        "": "", // t
        "+": "+",
        "-": "-",
        "0": "0",
        "||": "d",
    };

    $effect(() => {
        let tempCode = "\\begin{tikzpicture}\n";
        tempCode +=
            "\\tkzTabInit[lgt=2.5, espcl=2]{$x$ / 1" +
            (ROWS.length ? ", " : "") +
            ROWS.map(
                (e) => "{" + e[1] + "} / " + (e[0] === "var" ? "2" : "1"),
            ).join(", ") +
            "}{" +
            X.map((e) => "${" + e + "}$").join(", ") +
            "}\n";
        ROWS.forEach((row, i) => {
            if (row[0] === "sign") {
                tempCode +=
                    "\\tkzTabLine{" +
                    row
                        .slice(2)
                        .map((e) => signes[e])
                        .join(",") +
                    "}\n";
            }
            if (row[0] === "var") {
                tempCode +=
                    "\\tkzTabVar{" +
                    (row[3] === "↗" ? "-/" : row[3] === "↘" ? "+/" : "");
                row.forEach((e, j) => {
                    if (j >= 2) {
                        if (e === "↗") {
                            tempCode += ",+/";
                        } else if (e === "↘") {
                            tempCode += ",-/";
                        } else {
                            if (e.includes("||") || e.includes("\\Vert")) {
                                if (
                                    tempCode.slice(-2) === "+/" ||
                                    tempCode.slice(-2) === "-/"
                                ) {
                                    tempCode = tempCode.slice(0, -2);
                                }
                                let [a, b] = e.split(/(?:\|\||\\Vert)/);
                                if (a === "") {
                                    a = "\\phantom{0}";
                                }
                                if (b === "") {
                                    b = "\\phantom{0}";
                                }
                                if (j > 0) {
                                    tempCode += row[j - 1] === "↗" ? "+" : "-";
                                }
                                tempCode += "D";
                                if (j < row.length - 2) {
                                    tempCode += row[j + 1] === "↗" ? "-" : "+";
                                }
                                if (j > 0) {
                                    tempCode += "/" + "{$" + a + "$}";
                                }
                                if (j < row.length - 2) {
                                    tempCode += "/" + "{$" + b + "$}";
                                }
                            } else {
                                tempCode += "{$" + e + "$}";
                            }
                        }
                    }
                });
                tempCode += "}{/}\n";
            }
        });
        tempCode += "\\end{tikzpicture}";
        code = tempCode;
        LaTeX =
            "\\documentclass{standalone}\n" +
            "\\usepackage{tikz}\n" +
            "\\usepackage{tkz-tab}\n" +
            "\\begin{document}\n" +
            tempCode +
            "\n" +
            "\\end{document}";
    });
</script>

<table class="uk-table uk-table-striped uk-table-hover uk-text-center">
    <tbody>
        <tr>
            <td
                style="vertical-align:middle;font-style:italic;font-family:KaTeX_Math;"
                >x</td
            >
            {#each X as x, i}
                <td>
                    <MathField
                        onchange={sortie.generer_image}
                        bind:value={X[i]}
                        width={80}
                    />
                </td>
                <td></td>
            {/each}
            <td class="uk-text-right">
                <button
                    class="uk-button uk-button-primary uk-button-small"
                    onclick={() => {
                        X.push("");
                        if (X[X.length - 2] === "+\\infty") {
                            X[X.length - 2] = "";
                            X[X.length - 1] = "+\\infty";
                        }
                        for (let i = 0; i < ROWS.length; i++) {
                            if (ROWS[i][0] === "sign") {
                                ROWS[i].push("");
                                ROWS[i].push("");
                            } else if (ROWS[i][0] === "var") {
                                ROWS[i].push("");
                                ROWS[i].push("");
                            }
                        }
                        sortie.generer_image();
                    }}>+</button
                >
            </td>
        </tr>
        {#each ROWS as row, i}
            <tr>
                <td>
                    <input
                        type="text"
                        onchange={sortie.generer_image}
                        class="uk-input"
                        bind:value={ROWS[i][1]}
                        style="width:150px;"
                    />
                </td>
                {#if row[0] === "sign"}
                    {#each row as r, j}
                        {#if j >= 2}
                            <td>
                                {#if j % 2 === 0}
                                    <select
                                        class="uk-select"
                                        onchange={sortie.generer_image}
                                        bind:value={ROWS[i][j]}
                                    >
                                        <option value=""></option>
                                        <option value="0">0</option>
                                        <option value="||">║</option>
                                    </select>
                                {:else}
                                    <select
                                        class="uk-select"
                                        onchange={sortie.generer_image}
                                        bind:value={ROWS[i][j]}
                                    >
                                        <option value=""></option>
                                        <option value="+">+</option>
                                        <option value="-">-</option>
                                    </select>
                                {/if}
                            </td>
                        {/if}
                    {/each}
                {:else if row[0] === "var"}
                    {#each row as r, j}
                        {#if j >= 2}
                            <td>
                                {#if j % 2 === 0}
                                    <MathField
                                        onchange={sortie.generer_image}
                                        bind:value={ROWS[i][j]}
                                        width={80}
                                    />
                                {:else}
                                    <select
                                        class="uk-select"
                                        onchange={sortie.generer_image}
                                        bind:value={ROWS[i][j]}
                                    >
                                        <option value=""></option>
                                        <option value="↗">↗</option>
                                        <option value="↘">↘</option>
                                    </select>
                                {/if}
                            </td>
                        {/if}
                    {/each}
                {/if}
                <td colspan="2" class="uk-text-right">
                    <div class="uk-button-group">
                        <button
                            class="uk-button uk-button-default uk-button-small"
                            disabled={i === 0}
                            onclick={() => {
                                ROWS.splice(i - 1, 0, ROWS.splice(i, 1)[0]);
                                sortie.generer_image();
                            }}>↑</button
                        >

                        <button
                            class="uk-button uk-button-default uk-button-small"
                            disabled={i === ROWS.length - 1}
                            onclick={() => {
                                // move down
                                ROWS.splice(i + 1, 0, ROWS.splice(i, 1)[0]);
                                sortie.generer_image();
                            }}>↓</button
                        >

                        <button
                            class="uk-button uk-button-default uk-button-small"
                            onclick={() => {
                                if (
                                    confirm(
                                        "Êtes-vous sûr de vouloir supprimer cette ligne ?",
                                    )
                                ) {
                                    ROWS.splice(i, 1);
                                    sortie.generer_image();
                                }
                            }}>-</button
                        >
                    </div>
                </td>
            </tr>
        {/each}

        <tr>
            <td colspan={2 * X.length + 2}>
                <button
                    class="uk-button uk-button-primary uk-button-small"
                    onclick={() => {
                        ROWS.push([
                            "sign",
                            "Signe de $f'(x)$",
                            ...Array(2 * X.length - 1).fill(""),
                        ]);
                        sortie.generer_image();
                    }}>+ signe</button
                >
                <button
                    class="uk-button uk-button-primary uk-button-small"
                    onclick={() => {
                        ROWS.push([
                            "var",
                            "Variations de $f$",
                            ...Array(2 * X.length - 1).fill(""),
                        ]);
                        sortie.generer_image();
                    }}>+ variations</button
                >
            </td>
        </tr>
    </tbody>
</table>

<Sortie {LaTeX} {code} bind:this={sortie} packages={["tikz", "tkz-tab"]} />

<DataManager
    data={{ X, ROWS }}
    onload={(data) => {
        X = data.X;
        ROWS = data.ROWS;
        sortie.generer_image();
    }}
/>

<style>
    input {
        width: 80px;
    }
    select {
        width: 80px;
        font-family: monospace;
    }
</style>
